body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #4c7196;
}

.nav {
  position: fixed;
  top: 79px;
  left: 9px;
  display: block;
  overflow: auto;
  width: 261px;
  height: calc(100vh - 89px);
  margin: 0;
  padding: 0 0 10px;
  list-style: none;   
  &._hack{
    font-size: 24px;
  }
}